<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="eCAPDDApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Srini-setting" value="abc" />

    <add key="VendorConfirm_EmailFrom" value="DISB.DIRECTDEPOSIT@lacounty.onmicrosoft.com" />
    <add key="VendorConfirm_EmailTo" value="sgovindarajan@isd.lacounty.gov; SYSTEMS.Disbursements@auditor.lacounty.gov; DISB.DirectDeposit@auditor.lacounty.gov" />

    <!--BShen@isd.lacounty.gov; NFufa@isd.lacounty.gov;-->
    <add key="VendorConfirm_EmailCC" value="" />
    <!--<add key="VendorConfirm_EmailBCC" value="" />-->
    <add key="VendorConfirm_Subject" value="Test From Dev Server 1-21-2021 - County of Los Angeles: Direct Deposit Authorization - Confirmation# " />
    
    
    <add key="VendorContactUS_EmailFrom" value="DISB.DIRECTDEPOSIT@lacounty.onmicrosoft.com" />
    <add key="VendorContactUS_EmailTo" value="sgovindarajan@isd.lacounty.gov; sgovindarajan@isd.lacounty.gov"  />
         <!--DISB.DirectDeposit@auditor.lacounty.gov; jvalles@auditor.lacounty.gov; dhuch@auditor.lacounty.gov;kwood@auditor.lacounty.gov-->
     <add key="VendorContactUS_EmailCC" value="" />

    <add key="Approval_EmailFrom" value="DISB.DIRECTDEPOSIT@lacounty.onmicrosoft.com" />
    <add key="Approval_EmailTo" value="sgovindarajan@isd.lacounty.gov; SYSTEMS.Disbursements@auditor.lacounty.gov; DISB.DirectDeposit@auditor.lacounty.gov" />
    <add key="Approval_EmailCC" value="DISB.DirectDeposit@auditor.lacounty.gov" />
    <add key="Approval_Subject" value="Test From Dev Server County of Los Angeles: Direct Deposit Status Notification –" />

    <add key="Rejection_EmailFrom" value="DISB.DIRECTDEPOSIT@lacounty.onmicrosoft.com" />
    <add key="Rejection_EmailTo" value="sgovindarajan@isd.lacounty.gov; SYSTEMS.Disbursements@auditor.lacounty.gov; DISB.DirectDeposit@auditor.lacounty.gov" />
    <add key="Rejection_EmailCC" value="DISB.DirectDeposit@auditor.lacounty.gov" />
    <add key="Rejection_Subject" value="Test From Dev Server County of Los Angeles Direct Deposit Rejection Notification - Confirmation #" />



    <add key="sessionTimeoutInterval" value="30000000" />    <!--1 minute = 60000-->
    <add key="Uploadpath" value="Uploads" />
  </appSettings>

  <connectionStrings>
    <add name="ConnectionStrVDD" connectionString="server=ecapsdev.hosted.lac.com;database=vdd; Integrated Security=true;" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionStrVDD" connectionString="server=ecapsdev.hosted.lac.com;database=eCAPDD;uid=eCAPSDD;pwd=sqlteam#1;" providerName="System.Data.SqlClient" /> -->

  </connectionStrings>

  <!--BEGIN E-MAIL SETTINGS-->
  <system.net>
    <mailSettings>
      <smtp>
        <network host="amail.lacounty.gov" defaultCredentials="false" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--END E-MAIL SETTINGS-->
  
  
<!--;uid=eCAPSDD;pwd=sqlteam#1;-->

    <system.web>  
      <sessionState timeout="5" />
    <compilation debug="true" targetFramework="4.7.2">
        <buildProviders>
            <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        </buildProviders>
        <assemblies>
            <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
            <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" />
    <httpHandlers>
        <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
      
      
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <eCAPDDApi.Properties.Settings>
      <setting name="eCAPDDApi_gov_lacounty_webadminisd_Service" serializeAs="String">
        <value>https://webadminisd.lacounty.gov/iadwebsvc/service.asmx</value>
      </setting>
    </eCAPDDApi.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ABAServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ABAServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.lyonsreg.com/webservices/abaexpress/abaservice.asmx" binding="basicHttpBinding" bindingConfiguration="ABAServiceSoap" contract="abaService.ABAServiceSoap" name="ABAServiceSoap" />
      <endpoint address="http://www.lyonsreg.com/webservices/abaexpress/abaservice.asmx" binding="customBinding" bindingConfiguration="ABAServiceSoap12" contract="abaService.ABAServiceSoap" name="ABAServiceSoap12" />
    </client>
  </system.serviceModel>
</configuration>
