@{
    ViewBag.Title = "Submit";
}

@section Scripts
{
    <script src="~/Scripts/App/draft/certifyconfirm.js"></script>
    <link href="~/Content/main2.css" rel="stylesheet" />
}
<div class="container" style="padding-top: 20px;">
    <div class="col-lg-offset-2">
        <div>
            <h4 class="submitHeading fontBold" style="padding-top:0px !important">Vendor information </h4>
        </div>

        <div class="form-group">
            <div class="col-md-6"> <span class="submitSpan">Type of Application</span> </div>
            <div class="col-md-6"> <input class="submitinput" id="typeofApplication" /> </div>
        </div>

        <div class="form-group">
            <div class="col-md-6"> <span class="submitSpan">Vendor Number(Code)</span> </div>
            <div class="col-md-6"> <input class="submitinput" id="vendorCode" /> </div>
        </div>

        <div class="form-group">
            <div class="col-md-6"> <span class="submitSpan">Payee Name</span> </div>
            <div class="col-md-6"> <input class="submitinput" id="payeeName" /> </div>
        </div>

        <div class="form-group">
            <div class="col-md-6"> <span class="submitSpan">First Name</span> </div>
            <div class="col-md-6"> <input class="submitinput" id="firstName" /> </div>
        </div>

        <div class="form-group">
            <div class="col-md-6"> <span class="submitSpan">Middle Name</span> </div>
            <div class="col-md-6"> <input class="submitinput" id="middleName" /> </div>
        </div>

        <div class="form-group">
            <div class="col-md-6"> <span class="submitSpan">Last Name</span> </div>
            <div class="col-md-6"> <input class="submitinput" id="lastName" /> </div>
        </div>

        <div class="form-group">
            <div class="col-md-6"> <span class="submitSpan">Company Name</span> </div>
            <div class="col-md-6"> <input class="submitinput" id="companyName" /> </div>
        </div>

        <div class="form-group">
            <div class="col-md-6"> <span class="submitSpan">Alias/DBA Name</span> </div>
            <div class="col-md-6"> <input class="submitinput" id="aliasDBAName" /> </div>
        </div>

        <div class="form-group">
            <div class="col-md-6"> <span class="submitSpan">Taxpayer ID Number</span> </div>
            <div class="col-md-6"> <input class="submitinput" id="tin" /> </div>
        </div>

        <div class="form-group">
            <div class="col-md-6"> <span class="submitSpan">Case No.</span> </div>
            <div class="col-md-6"> <input class="submitinput" id="caseNo" /> </div>
        </div>

        <div class="form-group">
            <div class="col-md-6"> <span class="submitSpan">Direct Deposit Notification Email</span> </div>
            <div class="col-md-6"> <input class="submitinput" id="ddNotificationEmail" /> </div>
        </div>

        <div class="form-group">
            <div class="col-md-6"> <span class="submitSpan">Phone Number</span> </div>
            <div class="col-md-6"> <input class="submitinput" id="phoneNumber" /> </div>
        </div>

        @* Bank Details start *@

        <div @*style="margin-top:90px"*@>
            <h4 class="submitHeading fontBold">
                Banking information
            </h4>
        </div>


        <div class="form-group">
            <div class="col-md-6">
                <span class="submitSpan">Type of Account</span>
            </div>
            <div class="col-md-6">
                <input class="submitinput" id="typeofAccount" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <span class="submitSpan">Name on Bank Account </span>
            </div>
            <div class="col-md-6">
                <input class="submitinput" id="nameonbankAc" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <span class="submitSpan">Bank Account Number</span>
            </div>
            <div class="col-md-6">
                <input class="submitinput" id="accountNumber" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <span class="submitSpan">Bank Routing Number</span>
            </div>
            <div class="col-md-6">
                <input class="submitinput" id="routingNumber" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <span class="submitSpan">Financial Institution Name</span>
            </div>
            <div class="col-md-6">
                <input class="submitinput" id="finInsName" />
            </div>
        </div>
        @* Bank Details End*@

        @* Address Details start*@
        <div id="banklocations" @*style="padding-top:90px"*@>
            <h4 class="submitHeading fontBold">
                Direct Deposit Payment Option Selected
            </h4>

            <div>
                Assign this bank account to the following addresses:
            </div>

        </div>
        @* Address Details End*@

        @* Authorization*@
        <div @*style="padding-top:20px"*@>
            <h4 class="submitHeading fontBold">
                Certifications
            </h4>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <span class="submitSpan">Proxied Signer’s Name</span>
            </div>
            <div class="col-md-6">
                <input class="submitinput" id="signername" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <span class="submitSpan">Proxied Signer’s Title</span>
            </div>
            <div class="col-md-6">
                <input class="submitinput" id="signertitle" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <span class="submitSpan">Proxied Signer’s Phone Number</span>
            </div>
            <div class="col-md-6">
                <input class="submitinput" id="signerphone" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <span class="submitSpan">Proxied Signer’s E-mail Address</span>
            </div>
            <div class="col-sm-6">
                <input class="submitinput" id="signeremail" />
            </div>
        </div>

        @* deptment end*@
        <div @*style="padding-top:20px"*@>
            <h4 class="submitHeading fontBold">
                Department
            </h4>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <span class="submitSpan">Department Name</span>
            </div>
            <div class="col-md-6">
                <input class="submitinput" id="deptName" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <span class="submitSpan">Department Contact Person Name</span>
            </div>
            <div class="col-md-6">
                <input class="submitinput" id="deptPerson" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <span class="submitSpan">Department Email</span>
            </div>
            <div class="col-md-6">
                <input class="submitinput" id="deptEmail" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <span class="submitSpan">Department Contact Number</span>
            </div>
            <div class="col-sm-6">
                <input class="submitinput" id="deptPhone" />
            </div>
        </div>

        <div>
            @*style="padding-top:20px"*@
            <h4 class="submitHeading fontBold">
                Attachments
            </h4>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <span class="submitSpan">Total</span>
            </div>
            <div class="col-md-6">
                <input class="submitinput" id="span_totalAttachment" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <span class="submitSpan">Type</span>
            </div>
            <div class="col-md-6">
                <span id="span_TypeofAttachment" />
            </div>
        </div>



        @* deptment end*@

        @*<div style="padding-top :10pt; text-align: center">
            <button style="float: left" class="btn btn-back" id="btn_submit_back"> Back </button>
            <button style="float: right" class="btn btn-continue" id="btn_submit_next"> Submit </button>
        </div>*@


        </br>
        </br>
        <div class="form-group" style="padding-top :10pt">
            <div class="col-sm-6">
                <button style="float: left" class="btn btn-back" id="btn_submit_back"> Back </button>
            </div>
            <div class="col-sm-6">
                <button style="float: left" class="btn btn-continue" id="btn_submit_next"> Submit </button>
            </div>
        </div>


    </div>
</div>
