body {
}

.chartcontainer {
    display: flex;
    /*width: 100%;
    height: 150%;*/
}

.chart1,
.chart2,
.chart3 {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border: thin solid darkgray;
}



#chartwrapper {
    /*border: 1px solid blue;*/
}

#div1 {
    display: inline-block;
    width: 45%;
    /*height: 150px;*/
    /*border: 1px solid red;*/
}

#div2 {
    display: inline-block;
    width: 50%;
    /*height: 150px;*/
    /*border: 1px solid green;*/
}
