/*Menu*/
/*.navLink, a.navLink {
    display: block;
    float: left;
    height: 34px;
    line-height: 34px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    z-index: 13;
    font-family: 'Roboto',sans-serif !important
}

    a.navLink:hover, .navHover {
        background-color: #8537c1
    }

#pnlHistory {
    position: relative;
    background-color: #fff;
    margin: 0
}

#lblHistory {
    height: 32px
}

#history {
    left: -185px;
    position: absolute;
    z-index: 10
}*/

/*********************  Menu end*/


/* login start*/
centerColumn {
    margin: 0 auto;
    padding: 0;
    width: 71em;
    text-align: left;
    background-color: #fff;
}

.leftContent {
    width: 16em;
    float: left;
}

.leftBox {
    padding: 1em;
    margin-top: .5em;
    border: 1px solid #ccc;
}

.centerColumn {
    margin: 0 auto;
    padding: 0;
    width: 71em;
    text-align: left;
    background-color: #fff;
}
.divSeparator {
    margin-bottom: 10px;
}

.loginWrapper {
    margin-top: 1em;
}

.mainContent {
    float: right;
    border: 1px solid #ccc;
    width: 54em;
    margin-top: .5em;
    position: relative;
}

.mainBox {
    padding: 1em;
}

/* login end*/




    #titleimage {
    background-image: url('images/DD01192016.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    /*    line-height: 120px;
    position: relative;*/
}


div.titleimage {
    content: url('images/DD01192016.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
}

.stikyHeader {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.img-countySeal {
    content: url('button-images/CountySeal.png');
     height: 90px;
    width: 90px;
    margin: auto;
    margin-top: -15px;
    margin-left: 190px;
    vertical-align: middle;
    background-repeat: no-repeat;
    float: left;
}

.loginpage_link {
    color: white;
    
}

#link_bar a {
    padding-left: 15px;
}

#link_bar a:link {
        color: #f0f0f0;
    }

#link_bar a:visited {
    color: #c0c0c0;
    background-color: #0000a0;
}

#link_bar a:hover {
    color: #ffffff;
    background-color: #000060;
}

#link_bar a:active {
    color: #f0f0f0;
    background-color: #00ff00;
}


