/* Moved from Vendor app site.css,  Create two equal columns */
@media screen and (min-width: 992px) {
    .padding-bottom-div {
        padding-bottom: 30px;
    }
}

.fontBold {
    font-weight: bold;
}


#ddGrid_filter label input {
    /*border-width: 1px;*/
    border: 1px solid #ccc !important;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.rowtwo {
    display: flex;
    flex-wrap: wrap;
}

.columnTwo {
    flex: 50%;
    padding: 20px;
    /*margin: auto;*/
}
/* Create two equal columns */


hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid lightgrey !important;
}

h2, .sizeLarge {
    font-size: 1.2em !important;
}

/*application list*/
.isDisabledApplicationListLink {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}
/**/

body {
    background-color: #f2f2f2 !important; /*#fff;*/
    color: #000;
    font-family: 'Source Sans Pro',sans-serif;
}

.content {
    /*min-height: calc(100vh - 120px);*/
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold; 
    font-family: 'Lato',sans-serif;
}

/*#main {
    overflow: auto;
    padding-bottom: 150px; /* this needs to be bigger than footer height 
}
*/

.navbar-inverse::after {
    background-color: red;
}

html, body {
    height: 100%;
}

#summaryContainer {
    overflow: auto;
    /*padding-bottom: 150px;  this needs to be bigger than footer height*/
}

#wrap {
    min-height: 100%;
}

.header{
    background-color: royalblue;
    color: white !important;
    font-weight: bold;
}

.footer {
    position: Fixed;
    /*margin-top: -150px;*/ /* negative value of footer height */
    /*height: 150px;*/
    clear: both;
    padding-top: 20px;
    background-color: royalblue;
}



.bodycls {
    background-color: seashell !important;
}


.summaryContainer {
    background-color: yellowgreen !important;
}

/* srini above changes*/

@media (min-width: 768px) and (max-width: 991px) {
    .srinitestbtn {
        color: red;
        width: 2000px;
    }
}
    @media (min-width: 992px) and (max-width: 1199px) {
        .srinitestbtn {
            color: green;
            width: 200px;
        }
    }
@media (min-width: 576px) {
    .srinitestbtn {
        color: yellow;
        width: 20px;
    }
}

body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select
/*textarea*/
{
    max-width: 280px;
}
