<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/Scripts/App/VendorJs.js"></script>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <h3>Test data from database!!</h3>
    <div class="jumbotron">
        @*container summaryContainer  id="summaryContainer"*@
        <h2>Index</h2>
        <h3>
            <marquee>
                From TransController View
            </marquee>
        </h3>

        <div>
            <button class="srinitestbtn" id="btn_login_trans"> Transaction Button </button>
        </div>
    </div>
</div>