<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/Scripts/App/VendorJs.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@*<link href="~/Content/Site.css" rel="stylesheet" />*@

@{
    ViewBag.Title = "SummaryView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SummaryView</h2>

<div class="container summaryContainer" id="summaryContainer" >
    <h2>Transaction Summary View</h2>
    <h3>
        <marquee>
            Srini-Testing - Summary view of  TransController ****
        </marquee>
    </h3>
</div>
