<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/Scripts/App/VendorJs.js"></script>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transaction Details View</h2>


<div class="container summaryContainer" id="summaryContainer">
    <div>
        <h2>Transaction View</h2>
        <h3>
            <marquee>
                Srini-Testing - Trans view of  TransController ****
            </marquee>
        </h3>
        <button class="srinitestbtn" id="btn_login_transSummary"> Transaction  Summary Button </button>
    </div>
</div>

