<link href="~/Content/dashboard.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
<script src="~/Scripts/App/AdminMain.js"></script>
<script src="~/Scripts/App/dashboard.js"></script>
@*<script src="~/Scripts/App/login.js"></script>*@


<style>
    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }



    /*ul.tabs {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        ul.tabs li {
            background: none;
            color: #222;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
        }

            ul.tabs li.current {
                background: #ededed;
                color: #222;
            }

    .tab-content {
        display: none;
        background: #ededed;
        padding: 15px;
    }

        .tab-content.current {
            display: inherit;
        }*/
</style>

<div class="container1 row-wrapper1">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="System Charts"
               aria-selected="true">System Charts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
               aria-selected="false">User charts</a>
        </li>
    </ul>


    <div class="tab-content container" id="myTabContent" style=" width: 100% !important;  margin: 10px auto !important;position: relative !important;text-align: center !important;">
        <div class="tab-pane fade show active in" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div id="chartwrapper block_chart">
                <div id="div_application_PendingAssignment" style="display:inline-block" class="block_chart1">
                    <canvas id="AppPending_chartContainer" width="300" height="300" class="block_chart"></canvas>
                </div>

                <div id="div2" style="display:inline-block;" class="block_chart1">
                    <canvas id="MyPending_chartContainer" width="300" height="300" class="block_chart"></canvas>
                </div>
            </div>
        </div>

        <div class="tab-pane fade active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            @*<div class="chart1">
                    <canvas id="ACCHchartContainer" width="300" height="300"></canvas>
                </div>*@
        </div>

    </div>
</div>

