@model IEnumerable<eCAPDDApi.Models.VM_login>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="~/Scripts/App/VendorJs.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/login.css" rel="stylesheet" />

<div class="container">
    <div class="jumbotron">
        <h3 style="text-align: center">Internal Admin Login Page</h3>
        <h5 style="text-align: center">Under construction....</h5>
    </div>
</div>
