@section Scripts
{
    <link href="~/Content/bootstrap-datepicker3.standalone.css" rel="stylesheet" />

    <script src="~/Scripts/App/DataTable/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/App/BootsrapDatePicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/App/advanceSearchList.js"></script>
}

<div class="modal" id="customizeFilterModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Application List Filter</h5>
            </div>
            <div class="modal-body" style="text-align:left">
                <div class="subSection" style="text-align:left;">
                    <label class="firstLabelLong" for="selectProcessorsList" style="text-align:left;">Application Type:</label>
                    <div class="chosen-wrapper" style="text-align:left; width:350px; vertical-align:middle;">
                        <select class="" id="filterApplicationType" style="text-align:left; width:100%; vertical-align:middle;">
                            <option value=""></option>
                        </select>
                    </div>
                    <br><br>
                </div>

                <div class="subSection" style="text-align:left;">
                    <label class="firstLabelLong" for="selectProcessorsList" style="text-align:left;">Assigned User:</label>
                    <div class="chosen-wrapper" style="text-align:left; width:350px; vertical-align:middle;">
                        <select class="" id="filterUser" style="text-align:left; width:100%; vertical-align:middle;">
                            <option value=""></option>
                        </select>
                    </div>
                    <br><br>
                </div>

                <div class="subSection" style="text-align:left;">
                    <label class="firstLabelLong" for="selectProcessorsList" style="text-align:left;">Status:</label>
                    <div class="chosen-wrapper" style="text-align:left; width:350px; vertical-align:middle;">
                        <select class="" id="filterStatus" style="text-align:left; width:100%; vertical-align:middle;">
                            <option value=""></option>
                        </select>
                    </div>
                    <br><br>
                </div>

                <div class="subSection" style="text-align:left;">
                    <label class="firstLabelLong" for="selectProcessorsList" style="text-align:left;">Application Age:</label>
                    <div class="chosen-wrapper" style="text-align:left; width:350px; vertical-align:middle;">
                        <select class="" id="filerAge" style="text-align:left; width:100%; vertical-align:middle;">
                            <option value=""></option>
                            <option value="61">60+</option>
                            <option value="60">31-60</option>
                            <option value="30">16-30</option>
                            <option value="15">0-15</option>
                        </select>
                    </div>
                    <br><br>
                </div>
            </div>

            <div class="modal-footer">
                <input id="btn_customizeFilter" class="btn btn-sm btn-primary" type="submit" value="Submit">
                <button type="button" class="btn btn-link text-danger btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container row-wrapper">
    <div class="centerColumn">
        <div class="content clearfix">
            <div class="leftContent">
                @*advance search panel start*@
                <div id="pnl_advanceSearch" class="leftBox leftBoxMenu">
                    <h2 class="bottomMargin">Search by: </h2>


                    <div class="advSearchMenuSpacer">
                        <label for="caseNumber" style="margin-right: 32px; ">Confirmation Number</label>
                        <input class="clearable" id="search_confirmationNumber" name="caseNumber" type="search" value="">
                    </div>

                    <div class="advSearchMenuSpacer">
                        <label for="claimant" style="margin-right: 4px; ">Vendor Number</label>
                        <input class="clearable" id="search_VendorNumber" type="search" value="">
                    </div>

                    <div class="advSearchMenuSpacer">
                        <label for="checkNumber" style="margin-right: 4px; ">Payee Name</label>
                        <input class="input-validation-error clearable" data-val="true" data-val-length="Max 20 numbers." data-val-length-max="20" id="search_PayeeName" name="checkNumber" type="search" value="">  @*style="width:175px;"*@
                    </div>

                    @*<div class="advSearchMenuSpacer">
                            <label for="payee" style="margin-right: 4px; ">Received Date</label>
                            <input class="clearable" data-val="true" data-val-length="Max 100 characters." data-val-length-max="100" id="search_ReceivedDate" name="payee" type="search" value="" data-provide="datepicker">
                        </div>*@

                    @*<div class="advSearchMenuSpacer">
                            <label for="amount" style="margin-right: 4px; ">Status Date</label>
                            <input class="clearable" id="search_StatusDate" name="amount" type="search" value="" data-provide="datepicker">

                            <div>
                                <span class="field-validation-valid text-danger" data-valmsg-for="amount" data-valmsg-replace="true"></span>
                            </div>
                        </div>*@

                    <div class="advSearchMenuSpacer input-group date" data-provide="datepicker">
                        <label style="margin-right: 4px; ">Received Date</label>
                        <div class="input-group date" data-provide="datepicker">

                            <input id="search_ReceivedDate" type="search" data-provide="datepicker">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>

                    </div>

                    <div class="advSearchMenuSpacer input-group date" id="datetimepicker6" data-provide="datepicker">
                        <label style="margin-right: 4px; ">Status Date</label>
                        <div class="input-group date" id="datetimepicker6" data-provide="datepicker">
                            <input id="search_StatusDate" type="search" data-provide="datepicker">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>

                    </div>


                    <div class="advSearchMenuSpacer">
                        <label for="issueDate" style="margin-right: 4px; ">Application Status</label>
                        <select class="" id="advanceSearch_StatusList" style="text-align:left; width:100%; vertical-align:middle;">
                            <option value=""></option>
                        </select>

                    </div>

                    <div class="advSearchMenuSpacer">
                        <label class="firstLabelLong" for="selectProcessorsList" style="text-align:left;">Application Type:</label>
                        <select class="" id="advanceSearch_ApplicationTypeList" style="text-align:left; width:100%; vertical-align:middle;">
                            <option value=""></option>
                        </select>
                    </div>

                    <div>
                        <button id="btn_Advsearch" class="btn btn-sm btn-primary submit" type="submit" onClick="window.location.href='#';">Search</button>
                    </div>
                </div>
                @*Advance search panel*@
            </div>

            <!--------------------------------->

            <div class="mainContent">
                <div class="mainBox">
                    <div id="customizeResults">
                        <h2 id="heading_applicationlist" class="smallBottomMargin">Advanced Search</h2>
                    </div>

                    <div>
                        <strong>Application Age: </strong>

                        <div id="btn_0_15_days" class="well well-xxs smallRightMargin" style="display:inline-block; ">
                            <span class="fa fa-fw fa-circle text-green" aria-hidden="true"> </span>
                            <span class="">0 - 15 days </span>
                        </div>
                        <div id="btn_16_30_days" class="well well-xxs smallRightMargin" style="display:inline-block; ">
                            <span class="fa fa-fw fa-circle text-blue" aria-hidden="true"> </span>
                            <span class="">16-30 days </span>
                        </div>
                        <div id="btn_31_60_days" class="well well-xxs smallRightMargin" style="display:inline-block; ">
                            <span class="fa fa-fw fa-circle text-orange" aria-hidden="true"> </span>
                            <span class="">31-60 days </span>
                        </div>
                        <div id="btn_60_plus_days" class="well well-xxs smallRightMargin" style="display:inline-block; ">
                            <span class="fa fa-fw fa-circle text-red" aria-hidden="true"> </span>
                            <span class="">61+ days </span>
                        </div>
                    </div>


                    <table id="ddGrid" class="w-auto mdl-data-table cell-border" cellspacing="0" style="font-size: 12px; border-collapse:collapse; border: 1px solid black; width:100%">
                        <thead>
                            <tr class="button-header-color">
                                @*<th></th>*@
                                <th>Application Number</th>
                                <th>VendorName</th>
                                <th>ReceivedDate</th>
                                <th>AssignedDate</th>
                                <th>Application Age</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>


                </div>
            </div>




            <!--------------------------------->
        </div>
    </div>
</div>