@section Scripts
{
    <script src="~/Scripts/App/DataTable/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/App/applicationList.js"></script>
}

<div class="modal" id="customizeFilterModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Application List Filter</h5>
            </div>
            <div class="modal-body" style="text-align:left">
                <div class="subSection" style="text-align:left;">
                    <label class="firstLabelLong" for="selectProcessorsList" style="text-align:left;">Application Type:</label>
                    <div class="chosen-wrapper" style="text-align:left; width:350px; vertical-align:middle;">
                        <select class="" id="filterApplicationType" style="text-align:left; width:100%; vertical-align:middle;">
                        </select>
                    </div>
                    <br><br>
                </div>

                <div class="subSection" style="text-align:left;">
                    <label class="firstLabelLong" for="selectProcessorsList" style="text-align:left;">Assigned User:</label>
                    <div class="chosen-wrapper" style="text-align:left; width:350px; vertical-align:middle;">
                        <select class="" id="filterUser" style="text-align:left; width:100%; vertical-align:middle;">
                        </select>
                    </div>
                    <br><br>
                </div>

                <div class="subSection" style="text-align:left;">
                    <label class="firstLabelLong" for="selectProcessorsList" style="text-align:left;">Status:</label>
                    <div class="chosen-wrapper" style="text-align:left; width:350px; vertical-align:middle;">
                        <select class="" id="filterStatus" style="text-align:left; width:100%; vertical-align:middle;">
                        </select>
                    </div>
                    <br><br>
                </div>

                <div class="subSection" style="text-align:left;">
                    <label class="firstLabelLong" for="selectProcessorsList" style="text-align:left;">Application Age:</label>
                    <div class="chosen-wrapper" style="text-align:left; width:350px; vertical-align:middle;">
                        <select class="" id="filerAge" style="text-align:left; width:100%; vertical-align:middle;">
                            <option value="91">90+</option>
                            <option value="60">60</option>
                            <option value="30">30</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                    <br><br>
                </div>
            </div>

            <div class="modal-footer">
                <input id="btn_customizeFilter" class="btn btn-sm btn-primary" type="submit" value="Submit">
                <button type="button" class="btn btn-link text-danger btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container row-wrapper">
    <div class="centerColumn">
        <div class="content clearfix">
            <input id="skipUnSavedChanges" type="hidden" value="0">

            <div class="leftContent">
                <div class="leftBox leftBoxMenu">
                    <h5>System Lists</h5>
                    <div class="menu">

                        <a id="sidemenu_PendingAssignment" class="leftNavItem  leftNavItemActive">
                            <span id="span_countPendingAssignment" class="badge pull-right" style="margin-right:3px;"></span>
                            Application Pending Assignment
                        </a>
                        <a id="sidemenu_PendingMyApproval" class="leftNavItem ">
                            <span id="span_countPendingMyApproval" class="badge pull-right" style="margin-right:3px;"></span>
                            Pending My Approval
                        </a>

                    </div>
                </div>

                <div class="leftBox leftBoxMenu">
                    <h5>User Lists</h5>
                    <div class="menu">
                        <a href="./ApplicationList_OpenApplications.html" class="leftNavItem ">
                            <span id="span_appPendingOver60Days" class="badge pull-right" style="margin-right:3px;"></span>
                            Applications Over 60 Days
                        </a>

                    </div>
                </div>

                <div class="topMargin">
                    <a href="./User Account_ApplicationLists.html">
                        <span class="fa smallRightMargin fa-gear"></span><b>Manage User Lists</b>
                    </a>
                </div>

            </div>


            <!--------------------------------->

            <div class="mainContent">
                <div class="mainBox">
                    <div id="customizeResults">

                        @*<a class="pull-right nonFormSubmit" href="#" data-url="#">*@
                        <a id="btn_Assign" data-toggle="modal" data-target="#customizeFilterModal" class="pull-right nonFormSubmit">
                            <strong>Customize Results</strong>
                        </a>
                        <h2 id="heading_applicationlist" class="smallBottomMargin">Application Pending Assignment</h2>
                    </div>

                    <div>
                        <strong>Application Age: </strong>

                        <div id="btn_0_15_days" class="well well-xxs smallRightMargin" style="display:inline-block; ">
                            <span class="fa fa-fw fa-circle text-green" aria-hidden="true"> </span>
                            <span class="">0 - 15 days </span>
                        </div>
                        <div id="btn_16_30_days" class="well well-xxs smallRightMargin" style="display:inline-block; ">
                            <span class="fa fa-fw fa-circle text-blue" aria-hidden="true"> </span>
                            <span class="">16-30 days </span>
                        </div>
                        <div id="btn_31_60_days" class="well well-xxs smallRightMargin" style="display:inline-block; ">
                            <span class="fa fa-fw fa-circle text-orange" aria-hidden="true"> </span>
                            <span class="">31-60 days </span>
                        </div>
                        <div id="btn_60_plus_days" class="well well-xxs smallRightMargin" style="display:inline-block; ">
                            <span class="fa fa-fw fa-circle text-red" aria-hidden="true"> </span>
                            <span class="">61+ days </span>
                        </div>
                    </div>


                    <table id="ddGrid" class="w-auto mdl-data-table cell-border" cellspacing="0" style="font-size: 12px; border-collapse:collapse; border: 1px solid black; width:100%">
                        <thead>
                            <tr class="button-header-color">
                                @*<th></th>*@
                                <th>ConfirmationNum</th>
                                <th>VendorName</th>
                                <th>ReceivedDate</th>
                                <th>AssignedDate</th>
                                <th>Application Age</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>


                </div>
            </div>




            <!--------------------------------->
        </div>
    </div>
</div>