<link href="~/Content/applicationsummary.css" rel="stylesheet" />
<link href="~/Content/button.css" rel="stylesheet" />
<script src="~/Scripts/App/DataTable/jquery.dataTables.min.js"></script>
<script src="~/Scripts/App/AdminMain.js"></script>
<script src="~/Scripts/App/applicationSummary.js"></script>
<script src="~/Scripts/App/checklist.js"></script>

<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>

<div class="modal" id="rejectApplicationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Application Reject</h5>
            </div>
            <div class="modal-body" style="text-align:left">
                <div class="form-group subSection">
                    <label class="firstLabelLong" for="rejectReason">Reason:</label>
                    <div class="chosen-wrapper">
                        <select class="form-control cancel chosen-select" id="select_rejectReason" name="rejectReason" style="display: true">
                            <option value=""></option>
                            <option value="1">Requested by Vendor</option>
                            <option value="2">No EWS and Lexis/Nexis Vendor Verification</option>
                            <option value="3">Invalid/Missing Documents</option>
                            <option value="4">Other</option>
                        </select>
                    </div>
                </div>

                <div class="form-group subSection">
                    <label for="comment">Note:</label>
                    <textarea class="form-control" rows="5" id="txt_reject_comment"></textarea>
                </div>
                <span id="accountType">0 / 300 characters</span>
            </div>

            <div class="modal-footer">
                <input id="btn_SubmitReject" class="btn btn-sm btn-primary" type="submit" value="Submit">
                <button type="button" class="btn btn-link text-danger btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addNotesModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">AddNotes</h5>
            </div>
            <div class="modal-body" style="text-align:left">
                <div class="form-group subSection">
                    <label for="comment">Note:</label>
                    <textarea class="form-control" rows="5" id="txt_Notes_comment"></textarea>
                </div>
                <span id="accountType">0 / 256 characters</span>
            </div>

            <div class="modal-footer">
                <input id="btn_SubmitNotes" class="btn btn-sm btn-primary" type="submit" value="Add">
                <button type="button" class="btn btn-link text-danger btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addchecklistModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="header_checklistpopup">Item #1</h4>
            </div>
            <div class="mainContents" style="width:100%;">
                <div class="mainBox">
                    <div>

                        <div class="modal-body" style="text-align:left">
                            <div class="form-group subSection">
                                <label for="comment">Note:</label>
                                <textarea class="form-control" rows="5" id="txt_checklist_comment"></textarea>
                            </div>
                            <span id="accountType">0 / 256 characters</span>
                        </div>

                        <div class="pull-right btn-group btn-group-xs" role="group" aria-label="...">
                            <a class="btn btn-success" id="btn_checklistAdd" data-additionalprocess="ckeditor">
                                <span class="glyphicon glyphicon-plus smallRightMargin"></span>
                                Add
                            </a>
                        </div>

                        <ul class="nav nav-tabs bottomMargin" role="tablist">
                            <li role="presentation" class="active"><a href="javascript:void(0);" class="tabs leftMargin" aria-controls="Notes" role="tab">Comments</a></li>
                        </ul>

                        <div id="searchResults_cl" class="divSeparator" style="width:100%px;">
                            <div id="divNotesTable_cl" class="resultsLocator" style="width:100%px;">
                                <ul id="noteList_cl" class="list-group" style="padding:0 0 0 0;">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="approveApplicationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Application Approval</h5>
            </div>
            <div class="modal-body" style="text-align:left">
                <div class="form-group subSection">
                    <label for="comment">Note:</label>
                    <textarea class="form-control" rows="5" id="txt_approve_comment"></textarea>
                </div>
                <span id="accountType">0 / 300 characters</span>
            </div>

            <div class="modal-footer">
                <input id="btn_SubmitApprove" class="btn btn-sm btn-primary" type="submit" value="Submit">
                <button type="button" class="btn btn-link text-danger btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="assignApplicationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign User</h5>
            </div>
            <div class="modal-body" style="text-align:left">

                <div class="modal-body form-horizontal ">
                    <div class="subSection" style="text-align:left;">
                        <label class="firstLabelLong" for="selectProcessorsList" style="text-align:left;">Processor:</label>
                        <div class="chosen-wrapper" style="text-align:left; width:350px; vertical-align:middle;">
                            <select class="" id="selectProcessorsList" style="text-align:left; width:100%; vertical-align:middle;">
                                <option value=""></option>
                            </select>
                        </div>
                        <br><br>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <input id="btn_SubmitAssign" class="btn btn-sm btn-primary" type="submit" value="Submit">
                <button type="button" class="btn btn-link text-danger btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="vendorDetailsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Vendor Information</h5>
            </div>
            <div class="modal-body" style="text-align:left">


                <div class="panel-body">
                    <div class="flex">
                        <div class="flex-column-2">
                            <div class="readOnlySection">
                                <span class="displayLabel">Vendor Code: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_VendorCode" maxlength="15" placeholder="Vendor Code" value="" required>
                                    <span id="vendorcode" class="errmessage" />
                                </span>

                            </div>
                            <div class="readOnlySection">
                                <span class="displayLabel">First Name: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_FirstName" placeholder="First Name" value="" required>
                                    <span id="firstName" class="errmessage" />
                                </span>

                            </div>
                            <div class="readOnlySection">
                                <span class="displayLabel">Middle Name: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_MiddleName" placeholder="Middle Name">
                                    <span id="middleName" class="errmessage" />
                                </span>
                            </div>

                            <div class="readOnlySection">
                                <span class="displayLabel">Last Name: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_LastName" placeholder="Last Name">
                                    <span id="lastName" class="errmessage" />
                                </span>
                            </div>

                            <div class="readOnlySection">
                                <span class="displayLabel">Phone Number: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_PhoneNumber" placeholder="Phone Number">
                                    <span id="phoneNumber" class="errmessage" />
                                </span>
                            </div>
                            <div class="readOnlySection">
                                <span class="displayLabel">Cell Phone: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_CellPhone" placeholder="Cell Phone">
                                    <span id="cellPhone" class="errmessage" />
                                </span>
                            </div>

                            <div class="readOnlySection">
                                <span class="displayLabel">Payee Name: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_PayeeName" placeholder="Payee Name" readonly disabled>
                                    <span id="payeeName" class="errmessage" />
                                </span>
                            </div>
                            <div class="readOnlySection">
                                <span class="displayLabel">Company Name: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_CompanyName" placeholder="Company Name">
                                    <span id="companyName" class="errmessage" />
                                </span>
                            </div>

                            <div class="readOnlySection">
                                <span class="displayLabel">Alias/DBA: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_AliasDBA" placeholder="Alias/DBA">
                                    <span id="aliasDBA" class="errmessage" />
                                </span>
                            </div>

                            <div class="readOnlySection">
                                <span class="displayLabel">Taxpayer ID Number: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_Tin" placeholder="Taxpayer Id Number">
                                    <span id="tin" class="errmessage" />
                                </span>
                            </div>
                            <div class="readOnlySection">
                                <span class="displayLabel">Direct Deposit Notification Email: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_DDNotify" placeholder="Direct Deposit Notification Email">
                                    <span id="ddNotify" class="errmessage" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <input id="btn_SubmitVendorDetails" class="btn btn-sm btn-primary" type="submit" value="Submit">
                <button type="button" class="btn btn-link text-danger btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="bankDetailsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Banking Information</h5>
            </div>
            <div class="modal-body" style="text-align:left">

                <div class="panel-body">
                    <div class="flex">
                        <div class="flex-column-2">

                            <div class="readOnlySection">
                                <span class="displayLabel">Type of Account: </span>
                                <span class="displayValue ">
                                    <select id="txt_pop_AccountType" class="form-control bankdetailInput" placeholder="--SELECT TYPE OF ACCOUNT ">
                                        <option value="1" selected>SELECT TYPE OF ACCOUNT</option>
                                        <option value="1">Checking</option>
                                        <option value="2">Savings</option>
                                    </select>
                                    <span id="accountType" class="errmessage" />
                                </span>
                            </div>

                            <div class="readOnlySection">
                                <span class="displayLabel">Bank Account #: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_BankAcNo" maxlength="15" placeholder="Bank Account Number" value="" required>
                                    <span id="bankAcNo" class="errmessage" />
                                </span>
                            </div>

                            <div class="readOnlySection">
                                <span class="displayLabel"> Bank Routing #: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_RoutingNo" maxlength="15" placeholder="Bank Routing Number" value="" required>
                                    <span id="bankAcNo" class="errmessage" />
                                </span>
                            </div>

                            <div class="readOnlySection">
                                <span class="displayLabel">Financial Institution Name: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_FinancialIns" placeholder="Financial Institution Name">
                                    <span id="financialIns" class="errmessage" />
                                </span>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <input id="btn_SubmitBankDetails" class="btn btn-sm btn-primary" type="submit" value="Submit">
                <button type="button" class="btn btn-link text-danger btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="certificationDetailsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Certification Information</h5>
            </div>
            <div class="modal-body" style="text-align:left">

                <div class="panel-body">
                    <div class="flex">
                        <div class="flex-column-2">

                            <div class="readOnlySection">
                                <span class="displayLabel">Authorized Signer’s Name: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_SignerName" maxlength="50" placeholder="Authorized Signer’s Name" value="" required>
                                    <span id="signerName" class="errmessage" />
                                </span>
                            </div>

                            <div class="readOnlySection">
                                <span class="displayLabel">Authorized Signer’s Title: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_SignerTitle" maxlength="50" placeholder="Authorized Signer’s Title" value="" required>
                                    <span id="signerTitle" class="errmessage" />
                                </span>
                            </div>

                            <div class="readOnlySection">
                                <span class="displayLabel"> Authorized Signer’s Phone #: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control item" id="txt_pop_SignerPhone" maxlength="15" placeholder="(___)___-____" required>
                                    <span id="signerPhone" class="errmessage" />
                                </span>
                            </div>

                            <div class="readOnlySection">
                                <span class="displayLabel"> Authorized Signer’s Email: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_SignerEmail" maxlength="100" placeholder=" Authorized Signer’s Email" required>
                                    <span id="signerEmail" class="errmessage" />
                                </span>
                            </div>

                            <div class="readOnlySection">
                                <span class="displayLabel"> Confirmation #: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_Certification" maxlength="100" placeholder="Confirmation" readonly disabled>
                                    <span id="confirmation" class="errmessage" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <input id="btn_SubmitCertificationDetails" class="btn btn-sm btn-primary" type="submit" value="Submit">
                <button type="button" class="btn btn-link text-danger btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="departmentDetailsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Department Information</h5>
            </div>
            <div class="modal-body" style="text-align:left">

                <div class="panel-body">
                    <div class="flex">
                        <div class="flex-column-2">

                            <div class="readOnlySection">
                                <span class="displayLabel"> Dept. Name: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_DeptName" maxlength="50" placeholder=" Dept. Name" value="" required>
                                    <span id="deptName" class="errmessage" />
                                </span>
                            </div>

                            <div class="readOnlySection">
                                <span class="displayLabel">Dept. Contact Person Name:</span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_DeptcontactName" maxlength="50" placeholder="Dept. Contact Person Name" value="" required>
                                    <span id="deptcontactName" class="errmessage" />
                                </span>
                            </div>

                            <div class="readOnlySection">
                                <span class="displayLabel"> Dept. Email Address: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control" id="txt_pop_DeptEmailAddress" maxlength="100" placeholder="Dept. Email Address" required>
                                    <span id="deptEmail" class="errmessage" />
                                </span>
                            </div>

                            <div class="readOnlySection">
                                <span class="displayLabel"> Dept. Contact #: </span>
                                <span class="displayValue ">
                                    <input type="text" class="form-control item" id="txt_pop_DeptContact" maxlength="15" placeholder="(___)___-____" required>
                                    <span id="deptPhone" class="errmessage" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <input id="btn_SubmitDepartmentDetails" class="btn btn-sm btn-primary" type="submit" value="Submit">
                <button type="button" class="btn btn-link text-danger btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div id="div_action " class="pull-right btn-group">
    <span class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
    <ul class="dropdown-menu context-menu-left-showOnLeft">
        <li>
            <a title="Download Document" href="#">
                <span class="glyphicon glyphicon-download-alt"></span>
                <span>Download top top </span>
            </a>
        </li>

        <li>
            <a title="Rename File" href="#" onclick="return ShowModal(this);" action-target="#">
                <span class="glyphicon glyphicon-pencil"></span>
                Rename
            </a>
        </li>
        <li>
            <a title="Retire File" href="javascript:void(0);" class="confirmModal" data-action-target="#" data-rowclass="documentRow">
                <span class="fa fa-trash-o"></span>
                Retire
            </a>
        </li>
    </ul>
</div>


<div class="container row-wrapper">
    <h1 id="heading_appsummaryHeader"></h1>
    <div class="centerColumn">
        <div class="content clearfix">
            <input id="skipUnSavedChanges" type="hidden" value="0">

            <div class="leftContent">
                <div class="leftBox leftBoxMenu bhoechie-tab-container">
                    <h2 id="head_confirmationNum" style="color:purple;"></h2>
                    <span><h4 style="color:#000000;">&nbsp;Status: <font style="font-size:14px; font-weight:bold;"> <span id="header_status"> </span> </font></h4></span>

                    <div class="menu claimMenu bhoechie-tab-menu" role="tablist">
                        <div class="list-group">
                            <a class="leftNavItem active" href="#div_summary_tab" role="tab" aria-controls="div_summary_tab" 
                               aria-selected="true"><span class="fa fa-fw fa-sitemap"></span>Summary</a>
                            <a class="leftNavItem " id="tab_Notes" href="#div_notes_tab" role="tab" aria-controls="div_notes_tab" 
                               aria-selected="false"><span class="fa fa-fw fa-pencil"></span>Notes</a>

                            <a class="leftNavItem " href="#div_attachment_tab" aria-controls="div_attachment_tab" role="tab">
                                <span class="fa fa-fw fa-file-text"></span>Documents
                                <span id="menuDocCount" class="badge pull-right UpdateMenuDocumentCount">7</span>
                            </a>
                            <a class="leftNavItem " href="#div_checklist_tab" aria-controls="div_checklist_tab"><span class="fa fa-fw fa-folder-open"></span>Check List</a>
                            <a class="leftNavItem " href=""><span class="fa fa-fw fa-link"></span>Linked Applications<span class="badge pull-right">0</span></a>
                            <a class="leftNavItem " href=""><span class="fa fa-fw fa-archive"></span>Application Archive</a>
                        </div>
                    </div>
                </div>

                <div id="menuSummary" class="leftBox" data-url="#" data-method="get" data-updatetargetid="menuSummary" data-updatemode="replace">
                    <h2>Summary</h2>

                    <div class="smallTopMargin">
                        <div>
                            <span>Application Type: </span>
                            <span id="ApplicationType" class="bold"></span>
                        </div>
                        <div>
                            <span>Date Received/Entered: </span>
                            <span id="DateReceived" class="bold"></span>
                        </div>

                    </div>
                    <div class="smallTopMargin">
                        <div>
                            <span>Vendor Code: </span>
                            <span id="VendorCode" class="bold"></span>
                        </div>
                        <div>
                            <span>Payee Name: </span>
                            <span id="PayeeName" class="bold"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bhoechie-tab">
                <div id="div_summaryContent" class="mainBox tab-pane mainContent bhoechie-tab-content active">
                    @*<center1>*@
                    <div id="div_summary_tab" class="mainBox tab-pane show " role="tabpanel" aria-labelledby="summary-tab">
                        <div class="pull-right">
                            <a id="btn_Reject" data-toggle="modal" data-target="#rejectApplicationModal" class="btn btn-danger btn-xs">
                                Reject Application
                            </a>
                        </div>
                        <h2 class="bottomMargin">Application Summary</h2>

                        <div class="well well-sm">
                            <div id="div_assignApplication" class="btn-group btn-group-xs pull-right">
                                <a id="btn_Assign" data-toggle="modal" data-target="#assignApplicationModal" class="btn btn-info">
                                    Assign
                                </a>
                            </div>

                            <div class="flex">
                                <div class="flex-column-1">
                                    <div class="readOnlySection"><span class="displayLabel">Received Date: </span><span id="ReceivedDate" class="displayValue "></span></div>
                                    <div class="readOnlySection"><span class="displayLabel">Assign Date: </span><span id="AssignDate" class="displayValue "></span></div>
                                    <div class="readOnlySection"><span class="displayLabel">Assigned Processor: </span><span id="AssignedProcessor" class="displayValue "></span></div>
                                    <div class="readOnlySection"><span class="displayLabel">Assigned By: </span><span id="AssignedBy" class="displayValue "></span></div>
                                    <div class="readOnlySection"><span class="displayLabel">Closed Date: </span><span id="ClosedDate" class="displayValue "></span></div>
                                </div>
                                <div class="flex-column-1">
                                    <div class="readOnlySection"><span class="displayLabel">Entered By: </span><span id="EnteredBy" class="displayValue "></span></div>
                                    <div class="readOnlySection"><span class="displayLabel">IP Address: </span><span id="IPAddress" class="displayValue "></span></div>
                                    <div class="readOnlySection"><span class="displayLabel">IP Device: </span><span id="IPDevice" class="displayValue "></span></div>
                                    <div class="readOnlySection"><span class="displayLabel">IP Location: </span><span id="IPLocation" class="displayValue "></span></div>
                                </div>
                            </div>

                            @*Vendor information begin*@
                            <div class="panel panel-default panel-sm">
                                <div class="panel-heading">
                                    <div class="pull-right btn-group btn-group-xs" role="group" aria-label="...">
                                        <a id="btn_vendorDetails" data-toggle="modal" data-target="#vendorDetailsModal" class="btn btn-info" data-additionalprocess="chosen">
                                            <span class="fa fa-edit smallRightMargin"></span>
                                            Edit
                                        </a>
                                    </div>
                                    Vendor Information
                                </div>

                                <div class="panel-body">
                                    <div class="flex">
                                        <div class="flex-column-2">
                                            <div class="readOnlySection"><span class="displayLabel">Vendor Code: </span><span id="VI_VendorCode" class="displayValue "></span></div>
                                            <div class="readOnlySection"><span class="displayLabel">Alias/DBA: </span><span id="Alias_DBA" class="displayValue "> </span></div>
                                            <div class="readOnlySection"><span class="displayLabel">First Name: </span><span id="FirstName" class="displayValue "></span></div>
                                            <div class="readOnlySection"><span class="displayLabel">Middle Name: </span><span id="MiddleName" class="displayValue "></span></div>
                                            <div class="readOnlySection"><span class="displayLabel">Last Name: </span><span id="LastName" class="displayValue "></span></div>
                                            <div class="readOnlySection"><span class="displayLabel">Phone Number: </span><span id="PhoneNumber" class="displayValue "></span></div>
                                        </div>
                                        <div class="flex-column-2">
                                            <div class="readOnlySection"><span class="displayLabel">Payee Name: </span><span id="VI_PayeeName" class="displayValue "></span></div>
                                            <div class="readOnlySection"><span class="displayLabel">Company Name: </span><span id="CompanyName" class="displayValue "></span></div>
                                            <div class="readOnlySection"><span class="displayLabel">Taxpayer ID Number: </span><span id="TaxpayerID" class="displayValue "></span></div>
                                            <div class="readOnlySection"><span class="displayLabel">Direct Deposit Notification Email: </span><span id="DirectDepositNotificationEmail" class="displayValue "></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Vendor information end*@

                            @*//Banking Information begin *@
                            <div class="panel panel-default panel-sm">
                                <div class="panel-heading">
                                    <div class="pull-right btn-group btn-group-xs" role="group" aria-label="...">
                                        <a id="btn_BankDetails" data-toggle="modal" data-target="#bankDetailsModal" class="btn btn-info" data-additionalprocess="chosen,maxLength">
                                            <span class="fa fa-edit smallRightMargin"></span>
                                            Edit
                                        </a>
                                    </div>
                                    Banking Information
                                </div>
                                <div class="panel-body">
                                    <div class="" style="margin-bottom:0;">
                                        <div id="claimInfoWrapper">
                                            <div class="flex">
                                                <div class="flex-column-1">
                                                    <div class="readOnlySection"><span class="displayLabel">Type of Account: </span><span id="TypeofAccount" class="displayValue "></span></div>
                                                    <div class="readOnlySection"><span class="displayLabel">Bank Account #: </span><span id="BankAccountNumber" class="displayValue "></span></div>
                                                    <div class="readOnlySection"><span class="displayLabel">Bank Routing #: </span><span id="BankRoutingNumber" class="displayValue "></span></div>
                                                </div>

                                                <div class="flex-column-1">
                                                    <div class="readOnlySection"><span class="displayLabel">Financial Institution Name: </span><span id="FinancialInstitutionName" class="displayValue "></span></div>
                                                    <div class="readOnlySection"><span class="displayLabel">Attachment Type: </span><span id="AttachmentType" class="displayValue "></span></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*//Authorized Information end *@
                            <div class="panel panel-default panel-sm">
                                <div class="panel-heading">
                                    <div class="pull-right btn-group btn-group-xs" role="group" aria-label="...">
                                        <a id="btn_certificationDetails" data-toggle="modal" data-target="#certificationDetailsModal" class="btn btn-info" data-additionalprocess="chosen,maxLength">
                                            <span class="fa fa-edit smallRightMargin"></span>
                                            Edit
                                        </a>
                                    </div>
                                    Certification Information
                                </div>
                                <div class="panel-body">
                                    <div class="" style="margin-bottom:0;">
                                        <div id="claimInfoWrapper">
                                            <div class="flex">
                                                <div class="flex-column-1">
                                                    <div class="readOnlySection"><span class="displayLabel displayLabelLong">Authorized Signer Name: </span><span id="AuthorizedSignerName" class="displayValue "></span></div>
                                                    <div class="readOnlySection"><span class="displayLabel displayLabelLong">Authorized Signer Title: </span><span id="AuthorizedSignerTitle" class="displayValue "></span></div>
                                                    <div class="readOnlySection"><span class="displayLabel displayLabelLong">Authorized Signer Phone: </span><span id="AuthorizedSignerPhone" class="displayValue "></span></div>
                                                </div>

                                                <div class="flex-column-1">
                                                    <div class="readOnlySection"><span class="displayLabel displayLabelLong">Authorized Signer Email: </span><span id="AuthorizedSignerEmail" class="displayValue "></span></div>
                                                    <div class="readOnlySection"><span class="displayLabel displayLabelLong">Confirmation #: </span><span id="CI_ConfirmationNumber" class="displayValue "></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*Certification Information end *@
                            <div class="panel panel-default panel-sm">
                                <div class="panel-heading">
                                    <div class="pull-right btn-group btn-group-xs" role="group" aria-label="...">
                                        <a id="btn_deptDetails" data-toggle="modal" data-target="#departmentDetailsModal" class="btn btn-info" data-additionalprocess="chosen,maxLength">
                                            <span class="fa fa-edit smallRightMargin"></span>
                                            Edit
                                        </a>
                                    </div>
                                    Department Information
                                </div>
                                <div class="panel-body">
                                    <div class="" style="margin-bottom:0;">
                                        <div id="claimInfoWrapper">
                                            <div class="flex">
                                                <div class="flex-column-1">
                                                    <div class="readOnlySection"><span class="displayLabel displayLabelLong">Dept. Name: </span><span id="DeptName" class="displayValue "></span></div>
                                                    <div class="readOnlySection"><span class="displayLabel displayLabelLong">Dept. Contact Person Name: </span><span id="DeptContactPersonName" class="displayValue "></span></div>
                                                </div>

                                                <div class="flex-column-1">
                                                    <div class="readOnlySection"><span class="displayLabel displayLabelLong">Dept. Email Address: </span><span id="DeptEmailAddress" class="displayValue "></span></div>
                                                    <div class="readOnlySection"><span class="displayLabel displayLabelLong">Dept. Contact #: </span><span id="DeptContactNumber" class="displayValue "></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Department Information *@

                            @*Direct Deposit Payment Option Selected begin*@

                            @*<div class="panel panel-default panel-sm">
                                    <div class="panel-heading">
                                        Direct Deposit Payment Option Selected
                                    </div>
                                    <div class="panel-body">
                                        <div class="" style="margin-bottom:0;">
                                            <div id="claimInfoWrapper">
                                                <div id="div_ddPaymentOptionSelected" class="flex">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                            <div class="panel panel-default panel-sm">
                                <div class="panel-heading">
                                    Direct Deposit Payment Option Selected
                                </div>
                                <ul id="ul_ddoptionList" class="list-group list-group-sm"> </ul>
                            </div>

                            @*Direct Deposit Payment Option Selected *@
                        </div>
                    </div>

                    <div id="div_supervisor_review_panel" class="panel panel-default panel-sm">
                        <div class="panel-heading">
                            Review
                        </div>

                        <ul class="list-group list-group-sm">
                            <li id="div_processor_review" class="list-group-item list-group-item-sm">
                                <div class="flex">
                                    <div class="flex-column-1">
                                        Processor:
                                    </div>
                                    <div class="flex-column-3">
                                        @*(Assigned To Processor)*@
                                        <span id="span_processoreview_status"></span>
                                        <div class="pull-right">
                                            <div class="btn-group btn-group-xs">
                                                <a id="btn_proce_approve" style="margin:5px;" data-toggle="modal" data-target="#approveApplicationModal" class="btn btn-success processorapprove">Approve</a>
                                                <a data-toggle="modal" style="margin:5px;" data-target="#printApplicationModal" class="btn btn-danger">&nbsp;print&nbsp;</a>
                                                <a id="btn_proce_reject" data-toggle="modal" data-target="#rejectApplicationModal" class="btn btn-danger" style="margin:5px; background-color:#8B0000;">&nbsp;&nbsp;Reject&nbsp;&nbsp;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li id="div_supervisor_proce_review" class="list-group-item list-group-item-sm">
                                <div class="flex">
                                    <div class="flex-column-1">
                                        Processor:
                                    </div>
                                    <div class="flex-column-3">
                                        <span id="span_review_processor_Approval_msg"></span>  @*Approved by Monique Tsoi on 4/27/2020*@
                                        <div>
                                            Note: <span id="span_review_processor_notes">test srini forward application to Supervisor</span>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li id="div_supervisor_review" class="list-group-item list-group-item-sm">
                                <div class="flex">
                                    <div class="flex-column-1">
                                        Supervisor:
                                    </div>
                                    <div id="div_suervisorreview_status" class="flex-column-3">
                                        <span id="span_suervisorreview_status"></span>
                                        <div class="pull-right">
                                            <div class="btn-group btn-group-xs">
                                                <a id="btn_reviewApprove" style="margin:5px;" data-toggle="modal" data-target="#approveApplicationModal" class="btn btn-success supervisorapprove">Approve</a>
                                                <a id="btn_reviewReturn" style="margin:5px;" data-toggle="modal" data-target="#rejectApplicationModal" class="btn btn-danger">&nbsp;Return&nbsp;</a>
                                                <a id="btn_reviewReject" data-toggle="modal" data-target="#rejectApplicationModal" class="btn btn-danger" style="margin:5px; background-color:#8B0000;">&nbsp;&nbsp;Reject&nbsp;&nbsp;</a>
                                                <a id="btn_reviewPrint" class="btn btn-danger" style="margin:5px; background-color:#8B0000;">&nbsp;&nbsp;Print&nbsp;&nbsp;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

                <div id="div_notes_tab" class="mainBox tab-pane mainContent bhoechie-tab-content" role="tabpanel" aria-labelledby="notes-tab">
                    <center>
                        <ul class="nav nav-tabs bottomMargin" role="tablist">
                            <li role="presentation" class="timelineLi active">
                                <a class="tabs leftMargin tablinks" id="timeline-tab" data-toggle="tab" href="#timeline" role="tabpanel" aria-controls="timeline">Timeline</a>
                            </li>
                            <li role="presentation" class="timelineLi">
                                <a class="tabs nav-link tablinks" id="nts-tab" data-toggle="tab" href="#notes" role="tabpanel" aria-controls="nts"
                                   aria-selected="true">Notes</a>
                            </li>
                        </ul>
                    </center>
                    <div class="tab-content  tgroup container" id="myTabContent" style="width: 100% !important;  margin: 10px auto !important;position: relative !important;">

                        <div class="tab-pane fade show active in" id="timeline" role="tabpanel" aria-labelledby="timeline-tab"></div>

                        <div class="tab-pane fade active" id="notes" role="tabpanel" aria-labelledby="nts-tab">
                            <div class="pull-right">
                                <a id="btn_addNotes" class="btn btn-success" data-toggle="modal" data-target="#addNotesModal">
                                    <span class="glyphicon glyphicon-plus smallRightMargin"></span>
                                    Add
                                </a>

                            </div>

                            <br>
                            </br>

                            <div id="searchResults" class="divSeparator">
                                <div id="divNotesTable" class="resultsLocator">
                                    <ul id="noteList" class="list-group">
                                        <li class="list-group-item list-group-item-warning emptyResultMessage">Notes list is empty.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="div_attachment_tab" class="mainBox tab-pane mainContent bhoechie-tab-content" role="tabpanel" aria-labelledby="div_attachment_tab">
                    <div class="tab-content  tgroup container" id="myTabContent1" style="width: 100% !important;  margin: 10px auto !important;position: relative !important;">

                        <div class="pull-left">
                            <h2 class="bottomMargin">Documents</h2>
                        </div>

                        <div class="pull-right">
                            <a id="btn_addUploadMore" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus smallRightMargin"></span>
                                Upload More
                            </a>
                            <input type="file" id="file-input" style="display:none" />
                        </div>

                        <br>
                        </br>

                        <div id="div_documentAttachment" class="divSeparator">
                            <table id="attachmentGrid" class="w-auto mdl-data-table cell-border" cellspacing="0" style="border-collapse:collapse; border: 1px solid black; width:100%">
                                <thead>
                                    <tr class="button-header-color">
                                        @*<th></th>*@
                                        <th>AttachmentFileName</th>
                                        <th>Description</th>
                                        <th>UploadedDate</th>
                                        <th>Command</th>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="div_checklist_tab" class="mainBox tab-pane mainContent bhoechie-tab-content" role="tabpanel" aria-labelledby="div_checklist_tab">
                    <div class="tab-content  tgroup container" id="myTabContent1" style="width: 100% !important;  margin: 10px auto !important;position: relative !important;">

                        <div class="row">
                            <div class="col-lg-12 mb-4">
                                <div class="card shadow mb-4">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <div id="completedClaimsTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

                                                <table class="table table-striped table-bordered display responsive no-wrap dataTable" id="completedClaimsTable" width="100%" cellspacing="0" role="grid" aria-describedby="completedClaimsTable_info" style="width: 100%;">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting" tabindex="0" aria-controls="completedClaimsTable" rowspan="1" colspan="1" style="width: 0px;" aria-label=": activate to sort column ascending"></th>
                                                            <th class="sorting_desc" tabindex="0" aria-controls="completedClaimsTable" rowspan="1" colspan="1" style="width: 100%px;" aria-label="Claim #: activate to sort column ascending">Item</th>
                                                            <th class="sorting" tabindex="0" aria-controls="completedClaimsTable" rowspan="1" colspan="1" style="width: 100%px; text-align:center;" aria-label="Claimant Name: activate to sort column ascending">Yes / No</th>
                                                            <th class="sorting" tabindex="0" aria-controls="completedClaimsTable" rowspan="1" colspan="1" style="width: 83px;" aria-label="Assigned Date: activate to sort column ascending">Comments</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr role="row" class="odd">
                                                            <td>1</td>
                                                            <td class="sorting_2"> Is there another vendor code in eCAPS for this applicant?</td>
                                                            <td>
                                                                <label class="switch switch-yes-no">
                                                                    <input id="input1" value="1" class="switch-input" type="checkbox" />
                                                                    <span id="span1" value="1" class="switch-button" data-on="Yes" data-off="No">
                                                                    </span><span class="switch-handle"></span>
                                                                </label>
                                                            </td>
                                                            @*<td><a value ="1" data-toggle="modal" data-target="#addNotesModal" >04/24/2020</a></td>*@
                                                            <td>
                                                                <a value="1" data-toggle="modal" data-target="#addchecklistModal" class="btn btn-successe">
                                                                    <span class="glyphicon glyphicon-plus smallRightMargin" style="padding:0 0 0 0; width:8px; height:3px; font-size:12px;">
                                                                    </span>Add
                                                                </a>
                                                            </td>

                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td>2</td>
                                                            <td class="sorting_2"> Is the vendor already on direct deposit with the same bank information?</td>
                                                            <td>
                                                                <label class="switch switch-yes-no">
                                                                    <input id="input2" value="2" class="switch-input" type="checkbox" />
                                                                    <span id="span2" value="2" class="switch-button" data-on="Yes" data-off="No">
                                                                    </span><span class="switch-handle"></span>
                                                                </label>
                                                            </td>
                                                            <td><a value="2" data-toggle="modal" data-target="#addchecklistModal" class="btn btn-successe" data-additionalprocess="ckeditor"><span class="glyphicon glyphicon-plus smallRightMargin" style="padding:0 0 0 0; width:8px; height:3px; font-size:12px;"></span>Add</a></td>
                                                        </tr>
                                                        <tr role="row" class="odd">
                                                            <td>3</td>
                                                            <td class="sorting_2"> Does the email domain on the application match with eCAPS?</td>
                                                            <td><label class="switch switch-yes-no"><input value="3" class="switch-input" type="checkbox" /><span id="span3" value="3" class="switch-button" data-on="Yes" data-off="No"></span><span class="switch-handle"></span></label></td>
                                                            <td><a value="3" data-toggle="modal" data-target="#addchecklistModal" class="btn btn-successe" data-additionalprocess="ckeditor"><span class="glyphicon glyphicon-plus smallRightMargin" style="padding:0 0 0 0; width:8px; height:3px; font-size:12px;"></span>Add</a></td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td>4</td>
                                                            <td class="sorting_2"> Did the vendor provide a voided check?</td>
                                                            <td><label class="switch switch-yes-no"><input value="4" class="switch-input" type="checkbox" /><span id="span4" value="4" class="switch-button" data-on="Yes" data-off="No"></span><span class="switch-handle"></span></label></td>
                                                            <td><a value="4" data-toggle="modal" data-target="#addchecklistModal" class="btn btn-successe" data-additionalprocess="ckeditor"><span class="glyphicon glyphicon-plus smallRightMargin" style="padding:0 0 0 0; width:8px; height:3px; font-size:12px;"></span>Add</a></td>
                                                        <tr role="row" class="odd">
                                                            <td>5</td>
                                                            <td class="sorting_2"> Did the vendor provide the first page of a bank statement?</td>
                                                            <td><label class="switch switch-yes-no"><input value="5" class="switch-input" type="checkbox" /><span id="span5" value="5" class="switch-button" data-on="Yes" data-off="No"></span><span class="switch-handle"></span></label></td>
                                                            <td><a value="5" data-toggle="modal" data-target="#addchecklistModal" class="btn btn-successe" data-additionalprocess="ckeditor"><span class="glyphicon glyphicon-plus smallRightMargin" style="padding:0 0 0 0; width:8px; height:3px; font-size:12px;"></span>Add</a></td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td>6</td>
                                                            <td class="sorting_2"> Did the vendor provide a bank verification letter?</td>
                                                            <td><label class="switch switch-yes-no"><input value="6" class="switch-input" type="checkbox" /><span id="span6" class="switch-button" data-on="Yes" data-off="No"></span><span class="switch-handle"></span></label></td>
                                                            <td><a value="6" data-toggle="modal" data-target="#addchecklistModal" class="btn btn-successe" data-additionalprocess="ckeditor"><span class="glyphicon glyphicon-plus smallRightMargin" style="padding:0 0 0 0; width:8px; height:3px; font-size:12px;"></span>Add</a></td>
                                                        </tr>
                                                        <tr role="row" class="odd">
                                                            <td>7</td>
                                                            <td class="sorting_2"> Did eCAPS Legal Name match with the voided check, bank statement or bank letter?</td>
                                                            <td><label class="switch switch-yes-no"><input value="7" class="switch-input" type="checkbox" /><span id="span7" class="switch-button" data-on="Yes" data-off="No"></span><span class="switch-handle"></span></label></td>
                                                            <td><a value="7" data-toggle="modal" data-target="#addchecklistModal" class="btn btn-successe" data-additionalprocess="ckeditor"><span class="glyphicon glyphicon-plus smallRightMargin" style="padding:0 0 0 0; width:8px; height:3px; font-size:12px;"></span>Add</a></td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td>8</td>
                                                            <td class="sorting_2"> Does the bank account number and routing number on the application match with the attachment provided by the vendor?</td>
                                                            <td><label class="switch switch-yes-no"><input value="8" class="switch-input" type="checkbox" /><span id="span8" class="switch-button" data-on="Yes" data-off="No"></span><span class="switch-handle"></span></label></td>
                                                            <td><a value="8" data-toggle="modal" data-target="#addchecklistModal" class="btn btn-successe" data-additionalprocess="ckeditor"><span class="glyphicon glyphicon-plus smallRightMargin" style="padding:0 0 0 0; width:8px; height:3px; font-size:12px;"></span>Add</a></td>
                                                        <tr role="row" class="odd">
                                                            <td>9</td>
                                                            <td class="sorting_2"> If there is a DBA in eCAPS, is it registered within the County it's doing business in?</td>
                                                            <td><label class="switch switch-yes-no"><input value="9" class="switch-input" type="checkbox" /><span id="span9" class="switch-button" data-on="Yes" data-off="No"></span><span class="switch-handle"></span></label></td>
                                                            <td><a value="9" data-toggle="modal" data-target="#addchecklistModal" class="btn btn-successe" data-additionalprocess="ckeditor"><span class="glyphicon glyphicon-plus smallRightMargin" style="padding:0 0 0 0; width:8px; height:3px; font-size:12px;"></span>Add</a></td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td>10</td>
                                                            <td class="sorting_2"> Does the application's banking information match Early Warning?</td>
                                                            <td><label class="switch switch-yes-no"><input value="10" class="switch-input" type="checkbox" /><span id="span10" class="switch-button" data-on="Yes" data-off="No"></span><span class="switch-handle"></span></label></td>
                                                            <td><a value="10" data-toggle="modal" data-target="#addchecklistModal" class="btn btn-successe" data-additionalprocess="ckeditor"><span class="glyphicon glyphicon-plus smallRightMargin" style="padding:0 0 0 0; width:8px; height:3px; font-size:12px;"></span>Add</a></td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td>11</td>
                                                            <td class="sorting_2"> Does the paid check image's banking information match with the application?</td>
                                                            <td><label class="switch switch-yes-no"><input value="11" class="switch-input" type="checkbox" /><span id="span11" class="switch-button" data-on="Yes" data-off="No"></span><span class="switch-handle"></span></label></td>
                                                            <td><a value="11" data-toggle="modal" data-target="#addchecklistModal" class="btn btn-successe" data-additionalprocess="ckeditor"><span class="glyphicon glyphicon-plus smallRightMargin" style="padding:0 0 0 0; width:8px; height:3px; font-size:12px;"></span>Add</a></td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td>12</td>
                                                            <td class="sorting_2"> Does authorized signer name match on Lexis Advance?</td>
                                                            <td><label class="switch switch-yes-no"><input value="12" class="switch-input" type="checkbox" /><span id="span12" class="switch-button" data-on="Yes" data-off="No"></span><span class="switch-handle"></span></label></td>
                                                            <td><a value="12" data-toggle="modal" data-target="#addchecklistModal" class="btn btn-successe" data-additionalprocess="ckeditor"><span class="glyphicon glyphicon-plus smallRightMargin" style="padding:0 0 0 0; width:8px; height:3px; font-size:12px;"></span>Add</a></td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td>13</td>
                                                            <td class="sorting_2"> Is there a need to send the confirmation letter?</td>
                                                            <td><label class="switch switch-yes-no"><input value="13" class="switch-input" type="checkbox" /><span id="span13" class="switch-button" data-on="Yes" data-off="No"></span><span class="switch-handle"></span></label></td>
                                                            <td><a value="13" data-toggle="modal" data-target="#addchecklistModal" class="btn btn-successe" data-additionalprocess="ckeditor"><span class="glyphicon glyphicon-plus smallRightMargin" style="padding:0 0 0 0; width:8px; height:3px; font-size:12px;"></span>Add</a></td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td>14</td>
                                                            <td class="sorting_2"> Were there any W payments in J1099? If Yes, the interfaced VCM must change the Remittance Advice Format from RA2 to RA1.</td>
                                                            <td>
                                                                <label class="switch switch-yes-no">
                                                                    <input value="14" class="switch-input" type="checkbox" />
                                                                    <span id="span14" value="14" class="switch-button" data-on="Yes" data-off="No"></span>
                                                                    <span class="switch-handle"></span>
                                                                </label>
                                                            </td>
                                                            <td><a value="14" data-toggle="modal" data-target="#addchecklistModal" class="btn btn-successe" data-additionalprocess="ckeditor"><span class="glyphicon glyphicon-plus smallRightMargin" style="padding:0 0 0 0; width:8px; height:3px; font-size:12px;"></span>Add</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
